.App {
  overflow-x: hidden;
}

* {
  background-color: #FFF;
  color: #000;
  font-family:Georgia, 'Times New Roman', Times, serif
}

.image-wrapper {
  display: flex;
  justify-content: center;
}

section.page-1 header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 26px;
  margin-top: 10vh;
  margin-bottom: 70px;
}

section.page-1 .byline {
  margin-bottom: 5px;
}

section.page-1 .association {
  margin-bottom: 20px;
}

section.page-1 sub {
  font-size: 16px;
  margin-bottom: 20px;
}

section.page-1 .header .subtext {
  font-size: 16px;
}

section.page-1 .promo.image {
  width: 70vw;
}

section.page-1 .image-wrapper {
  margin-bottom: 70px;
}

section.page-1 footer {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 50px;
}

section.page-2 ul {
  list-style-type: none;
  padding-left: 40px;
}

section.page-2 ul.credits {
  margin-bottom: 50px;
}

section.page-2 .group {
  padding-left: 20px;
}

section.page-2 footer {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

section.page-3 {
  padding-left: 20px;
  padding-right: 20px;
}

section.page-3 .image-wrapper {
  margin-top: 50px;
  margin-bottom: 50px;
  height: 300px;
}

section.page-4 {
  margin-left: 20px;
  margin-right: 20px;
}

section.page-4 ul {
  list-style-type: none;
  padding-left: 20px;
  padding-right: 20px;
}

section.page-4 .image-wrapper {
  margin-top: 50px;
  margin-bottom: 50px;
  height: 350px;
}

section.page-4 .image-wrapper .thanks.image{
  height: 250px;
}

section.page-4 footer {
  margin-top: 50px;
  margin-bottom: 50px;
}

section.page-5 {
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 100px;
  margin-bottom: 50px;
}

section.page-5 header {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

section.page-5 .theater-logo {
  height: 150px;
  width: 150px;
}


section.page-5 .land-ack {
  text-align: center;
}

section.page-5 ul.theater-staff {
  list-style-type: none;
  margin-bottom: 50px;
  margin-top: 50px;
  padding-left: 20px;
}

section.page-5 .theater-blurbs {
  padding-left: 20px;
}

section.page-5 .theater-blurbs > * {
  padding-bottom: 20px;
}

section.page-5 .sponsor-logos {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  margin-bottom: 100px;
}

section.page-5 .sponsor-logos > * {
  padding-bottom: 50px;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */
/*
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

/* .App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 24pxs;
}

.App-link { */
  /* color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
